.layout {
    display: flex;
    gap: 20px;
    width: 100dvw;
    height: 100dvh;
    padding: 20px;
}

.layout__content {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.23);
    border-radius: 20px;
}

.layout__content__body {
    height: 90%;
}

@media screen and (max-width: 896px) {
    .layout {
        position: fixed;
        padding: 5px;
    }
    
}

@media screen and (max-width: 400px) {
    .layout {
        padding: 5px;
    }
    
}