{{> components/header/header isAuth=false}}
<div class="landing">
    <div class="first-slide">
        <div class="first-slde__content">
            <button class="landing-button top-button" data-link href="/register">Регистрация</button>
        </div>
    </div>
    <div class="second-slide">
        <div class="second-slide__left">
            <div class="second-slide__item">
                <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M23.9167 41.2939L21 38.3773L28.3958 30.9814L10.6875 13.2731L3.29167 20.6689L0.375 17.7523L3.29167 14.7314L0.375 11.8148L4.75 7.43978L1.83333 4.41895L4.75 1.50228L7.77083 4.41895L12.1458 0.0439453L15.0625 2.96061L18.0833 0.0439453L21 2.96061L13.6042 10.3564L31.3125 28.0648L38.7083 20.6689L41.625 23.5856L38.7083 26.6064L41.625 29.5231L37.25 33.8981L40.1667 36.9189L37.25 39.8356L34.2292 36.9189L29.8542 41.2939L26.9375 38.3773L23.9167 41.2939Z"
                        fill="#111418" />
                </svg>

                {{!-- <img src="https://via.placeholder.com/150" alt="placeholder" /> --}}
                <h2>Некому подстраховать</h2>
            </div>
            <div class="second-slide__item">
                {{!-- <img src="https://via.placeholder.com/150" alt="placeholder" /> --}}
                <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M6.9902 15.7792C8.34436 15.7792 9.62909 16.0222 10.8444 16.5083C12.0596 16.9944 13.1708 17.7063 14.1777 18.6438L34.0735 37.6542H35.3235C35.9138 37.6542 36.4086 37.4545 36.8079 37.0552C37.2072 36.6559 37.4069 36.1611 37.4069 35.5708C37.4069 35.2931 37.3808 34.9979 37.3287 34.6854C37.2767 34.3729 37.0944 34.0604 36.7819 33.7479L27.2506 24.2167L23.5527 13.0708L19.6985 14.0083C18.3791 14.3556 17.1812 14.1125 16.1048 13.2792C15.0284 12.4458 14.4902 11.3521 14.4902 9.99792V5.62292L13.0319 4.89375L5.01103 15.6229C4.97631 15.6576 4.95895 15.6837 4.95895 15.701C4.95895 15.7184 4.94159 15.7444 4.90686 15.7792H6.9902ZM6.9902 19.9458H4.59436C4.69853 20.1889 4.82874 20.4146 4.98499 20.6229C5.14124 20.8313 5.32353 21.0222 5.53186 21.1958L22.4069 36.5604C22.7888 36.9424 23.2228 37.2201 23.7089 37.3938C24.1951 37.5674 24.6985 37.6542 25.2194 37.6542H28.0319L11.3131 21.6646C10.7228 21.0743 10.0544 20.6403 9.3079 20.3625C8.56138 20.0847 7.78881 19.9458 6.9902 19.9458ZM25.2194 41.8208C24.1777 41.8208 23.1881 41.6299 22.2506 41.2479C21.3131 40.866 20.4451 40.3278 19.6464 39.6333L2.71936 24.2688C1.12214 22.8104 0.228043 21.0222 0.0370711 18.9042C-0.153901 16.7861 0.392974 14.859 1.6777 13.1229L9.69853 2.39375C10.2888 1.59514 11.0787 1.06563 12.0683 0.80521C13.0579 0.544793 14.0041 0.65764 14.9069 1.14375L16.3652 1.87292C17.0944 2.25486 17.6586 2.7757 18.0579 3.43542C18.4572 4.09514 18.6569 4.82431 18.6569 5.62292V9.99792L22.511 9.00834C23.5527 8.73056 24.5596 8.86077 25.5319 9.39896C26.5041 9.93715 27.1638 10.7097 27.511 11.7167L30.8964 21.925L39.7506 30.7792C40.4451 31.4736 40.9225 32.2201 41.1829 33.0188C41.4433 33.8174 41.5735 34.6681 41.5735 35.5708C41.5735 37.3069 40.9659 38.7826 39.7506 39.9979C38.5353 41.2132 37.0596 41.8208 35.3235 41.8208H25.2194Z"
                        fill="#111418" />
                </svg>
                <h2>Скучно бегать в одиночку</h2>
            </div>
            <div class="second-slide__item">
                {{!-- <img src="https://via.placeholder.com/150" alt="placeholder" /> --}}
                <svg width="50" height="51" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M39.6873 45.6686L33.5936 39.627L29.0103 44.2103L27.5519 42.752C26.7533 41.9533 26.354 40.9638 26.354 39.7832C26.354 38.6026 26.7533 37.6131 27.5519 36.8145L36.354 28.0124C37.1526 27.2138 38.1422 26.8145 39.3228 26.8145C40.5033 26.8145 41.4929 27.2138 42.2915 28.0124L43.7498 29.4707L39.1665 34.054L45.2082 40.1478C45.6248 40.5645 45.8332 41.0506 45.8332 41.6061C45.8332 42.1617 45.6248 42.6478 45.2082 43.0645L42.604 45.6686C42.1873 46.0853 41.7012 46.2936 41.1457 46.2936C40.5901 46.2936 40.104 46.0853 39.6873 45.6686ZM45.8332 12.9603L22.1873 36.6061L22.4478 36.8145C23.2464 37.6131 23.6457 38.6026 23.6457 39.7832C23.6457 40.9638 23.2464 41.9533 22.4478 42.752L20.9894 44.2103L16.4061 39.627L10.3123 45.6686C9.89567 46.0853 9.40956 46.2936 8.854 46.2936C8.29845 46.2936 7.81234 46.0853 7.39567 45.6686L4.7915 43.0645C4.37484 42.6478 4.1665 42.1617 4.1665 41.6061C4.1665 41.0506 4.37484 40.5645 4.7915 40.1478L10.8332 34.054L6.24984 29.4707L7.70817 28.0124C8.50678 27.2138 9.49637 26.8145 10.6769 26.8145C11.8575 26.8145 12.8471 27.2138 13.6457 28.0124L13.854 28.2728L37.4998 4.62695H45.8332V12.9603ZM14.479 23.2728L4.1665 12.9603V4.62695H12.4998L22.8123 14.9395L19.8436 17.8561L10.7811 8.79362H8.33317V11.2415L17.3957 20.304L14.479 23.2728ZM19.2707 33.6374L41.6665 11.2415V8.79362H39.2186L16.8228 31.1895L19.2707 33.6374Z"
                        fill="black" />
                </svg>

                <h2>Хочу соревноваться</h2>
            </div>
        </div>
        <div class="second-slide__right">
            <h2>Найди людей с похожими <b>интересами.</b></h2>
            <p>Находи людей для совместного занятия любыми активностями.</p>
            <p>Некому подстраховать когда делаешь жим дежа? Не проблема, мы поможем вам найти нужного человека.</p>
            <p>В вас горит страсть к сражению? Хотите бить чужие рекорды и ставить свои? Тогда приступаем!</p>
            <button class="landing-button" data-link href="/register">Регистрация</button>
        </div>
    </div>
    <div class="third-slide">
        {{> components/runningstring/runningstring}}
        <div class="third-slide__recalls">
            <div class="third-slide__recall">
                <div class="third-slide__recall__header">
                    <img src="https://via.placeholder.com/150" alt="placeholder" />
                    <h3>Иван Иванов</h3>
                </div>
                <p>Бегать в одиночку скучно, а вместе весело. Спасибо за приложение, теперь я нашел компанию для бега.
                </p>
            </div>
            <div class="third-slide__recall">
                <div class="third-slide__recall__header">
                    <img src="https://via.placeholder.com/150" alt="placeholder" />
                    <h3>Петр Петров</h3>
                </div>
                <p>Спасибо за приложение, теперь я нашел компанию для бега.</p>
            </div>
            <div class="third-slide__recall">
                <div class="third-slide__recall__header">
                    <img src="https://via.placeholder.com/150" alt="placeholder" />
                    <h3>Сидор Сидоров</h3>
                </div>
                <p>Бегать в одиночку скучно, а вместе весело. Спасибо за приложение, теперь я нашел компанию для бега.
                </p>
            </div>
            <div class="third-slide__recall">
                <div class="third-slide__recall__header">
                    <img src="https://via.placeholder.com/150" alt="placeholder" />
                    <h3>Сидор Сидоров</h3>
                </div>
                <p>Бегать в одиночку скучно, а вместе весело. Спасибо за приложение, теперь я нашел компанию для бега.
                </p>
            </div>
        </div>
    </div>
</div>