@import url(./components/ticker/ticker.css);
.landing-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100dvw;
    overflow: auto;
}

.landing__header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: space-between;
    padding: 30px;
    padding-bottom: 0;
    z-index: 1;
}

.header__logo--landing {
    width: 50px;
    aspect-ratio: 1;
}

.logo__text {
    color: var(--color__light--primary);
    font-size: xx-large;
    font-weight: 600;
}

.logo__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    cursor: pointer;
}

.scroll__notifier {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid white;
    margin: 20px auto;
    position: absolute;
    bottom: 10px;
    opacity: 0.7;
    animation: bounce 2s infinite;
    transition: all 0.2s ease-in-out;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

.landing__picture-container {
    width: 50%;
}

.landing__picture {
    grid-column: span 3;
    width: 100%;
    scale: 0.8;
    object-fit: cover;
}

.landing__slide {
    width: 100%;
    height: auto;
}

.slide--first {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.slide--second {
    display: flex;
    flex-direction: row;
    gap: 60px;
    width: 80%;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.landing__side-container {
    grid-column: span 2;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
}

.landing__title {
    color: var(--color__light--primary);
    font-size: xx-large;
    font-weight: 500;
}

.title--highlight {
    color: var(--color__success--primary);
    font-weight: 600;
}

.landing__text {
    color: var(--color__light--primary);
    font-size: large;
}

.landing__info {
    display: flex;
    flex-direction: column;
    text-align: left;
    word-break: auto-phrase;
    gap: 5px;
    width: auto;
}

.point {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 20px;
    border-radius: 80px;
    background-color: var(--color__light--primary);
    width: 100%;
    gap: 10px;
    height: 80px;
}

.point__image {
    width: 50px;
    aspect-ratio: 1;
}

.point__text {
    font-size: x-large;
    font-weight: 600;
}

.landing__points {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: auto;
    gap: 50px;
}

.slide--third {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    width: 100%;
    margin-bottom: 60px;
    padding: 0 30px 0 30px;
}

.review {
    text-wrap: balance;
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
    border-radius: 20px;
    gap: 20px;
}

.review__title {
    color: var(--color__light--primary);
    font-size: x-large;
}

.review__text {
    color: var(--color__light--primary);
    font-size: large;
}

.review__avatar {
    width: 50px;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
}

.review__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
}


@media only screen and (min-width: 1200px) {
    .slide--first {
        margin-top: -70px;
    }
}

@media only screen and (min-width: 2200px) {
    .landing__picture {
        scale: 0.6;
    }
    .slide--first {
        margin-top: -100px;
    }
}

@media only screen and (min-width: 3200px) {
    .slide--first {
        margin-top: -300px;
    }
}

@media only screen and (max-width: 940px) {
    .landing__picture {
        grid-column: span 5;
        scale: 1;
    }
    .slide--first {
        margin-top: 50px;
    }
    .landing__side-container {
        grid-column: span 5;
        align-items: center;
        margin-bottom: 30px;
        width: 100%;
        padding: 15px;
    }
    .slide--second {
        flex-direction: column;
    }
    .slide--third {
        flex-direction: column;
        align-items: center;
    }
    .review {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .logo__text {
        display: none;
    }
}

@media only screen and (max-width: 350px) {
    .landing__points {
        gap: 20px;
    }
    .point__text {
        font-size: medium;
    }
    .landing__title {
        font-size: x-large;
    }
    .landing__text {
        font-size: medium;
    }
    .review__title {
        font-size: large;
    }
    .review__text {
        font-size: medium;
    }
}