@import url(./src/components/form/form.css);
@import url(./src/pages/404/404.css);
@import url("/src/pages/main/main.css");
@import url("/src/components/navbar/navbar.css");
@import url("/src/components/header/header.css");
@import url("/src/pages/main/components/card/card.css");
@import url("/src/pages/landing/landing.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

body {
  background: url(background.webp) no-repeat center center fixed; 
  background-size: cover;
}

.header__menu {
  padding: 10px;
  color: white;
  text-decoration: none;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100dvw;
  height: 100dvh;
  overflow: auto;
}

