@import url(./src/components/form/form.css);
@import url(./src/pages/404/404.css);
@import url(./src/components/profile/profile.css);
@import url("/src/pages/main/main.css");
@import url("/src/components/navbar/navbar.css");
@import url("/src/components/header/header.css");
@import url("/src/pages/main/components/card/card.css");
@import url("/src/pages/landing/landing.css");

:root {
  --background--landing: url(./background-landing.webp);
  --background--main: url(./background-main.webp);
  --background--login: url(./background-auth.webp);
  --background--register: url(./background-auth.webp);
  --background--profile: url(./background-main.webp);
  --background--404: url(./background-404.webp);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -ms-overflow-style: none;
  /* IE 10+ */
  scrollbar-width: none;
  /* Firefox */
}

html,
body {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: var(--background--landing);
  background-size: 100% 100% !important;
}

.header__menu {
  padding: 10px;
  color: white;
  text-decoration: none;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100dvw;
  height: 100dvh;
  overflow: auto;
}

