@import url("./src/components/form/form.css");
@import url("/src/pages/main/main.css");
@import url("/src/components/navbar/navbar.css");
@import url("/src/components/header/header.css");
@import url("/src/pages/main/components/card/card.css");
@import url("/src/pages/landing/landing.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

body {
  background: url(background.png) no-repeat center center fixed; 
  background-size: cover;
  /* background: linear-gradient(0deg, rgb(255, 96, 54), rgb(253, 38, 122))
    no-repeat; */
  background: linear-gradient(
      to bottom,
      rgb(76 3 250)-54%,
      black 69%,
      #43f843 140%
    )
    no-repeat;
}

.header__menu {
  padding: 10px;
  color: white;
  text-decoration: none;
}

#root {
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  margin: 86px 67px;
  gap: 12px;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 908px;
  /* padding: 25px 20px; */
  background: #ffffffa8;
  border-radius: 13px;
  height: 100%;
}

#swiper {
  width: 364px;
  height: 657px;
  border-radius: 13px;
  perspective: 1000px;
  perspective-origin: center 50%;
  transform-style: preserve-3d;
  /* position: relative; */
  /* margin-top: 13vh; */
}
