.modal {
    height: 100dvh;
    width: 100dvw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
    padding: 20px;
}

.modal__content {
    background-color: var(--color__dark--primary);
    padding: 10px 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: scale(0.5);
    transition: all 0.2s ease-in-out;
    width: fit-content;
}

.modal__content.active {
    transform: scale(1);
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.dialog {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.dialog__title {
    color: var(--color__light--primary);
    font-size: xx-large;
    word-break: auto-phrase;
    text-align: start;
}

.dialog__list-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: clamp(150px, 200px, 200px);
}

.dialog__button-wrap {
    display: flex;
    gap: 10px;
}

.dialog__info {
    color: var(--color__light--secondary);
    text-align: start;
    font-size: medium;
    word-break: auto-phrase;
}