:root {
    --color__light--primary: #FFFFFF;
    --color__light--secondary: #BBBBBB;
    --color__dark--primary: #000000;
    --color__danger--primary: #EA5B5B;
    --color__success--primary: #7DE85A;
    --color__success--secondary: #1ED760;
    --color__success--outline: #169C46;
    --transition--default: all 0.2s ease-in-out;
}

.button {
    background: none;
    border: none;
    display: block;
    cursor: pointer;
    height: 50px;
    width: auto;
    padding: 10px 20px;
    border-radius: 80px;
    transition: var(--transition--default);
}

.button--success {
    color: var(--color__dark--primary);
    background-color: var(--color__success--primary);
}

.button--success:hover {
    background-color: var(--color__success--secondary);
}

.button--success:focus {
    outline: medium solid var(--color__success--outline);
}

.button--info {
    color: var(--color__dark--primary);
    background-color: var(--color__light--primary);
    height: 50px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.button--info:hover {
    color: var(--color__dark--primary);
    background-color: var(--color__success--primary);
}

.button--l {
    font-size: large;
    font-weight: 700;
}

.button--xl {
    font-size: x-large;
    font-weight: 700;
    padding: 20px 40px;
    height: 70px;
}

@media only screen and (max-width: 350px) {
    .button--xl {
        font-size: large;
        height: 50px;
        padding: 10px 20px;
    }
}


