.nav {
    display: none;
    position: relative;
    overflow: hidden;
    height: 10%;
    max-width: 100%;
}

.nav__item {
    color: var(--color__light--secondary);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    position: relative;
}

.nav__item.is-active {
    color: var(--color__success--primary);
}

.nav__item::before {
    content: "";
    position: absolute;
    width: 100%; /* Start with no underline visible */
    height: 3px; /* Thickness of the underline */
    bottom: -10px; /* Distance of the underline from the text */
    left: 0;
    background-color: var(--color__light--primary); /* Color of the underline */
    transform: scale(0);
    transition: transform 0.2s ease; /* Smooth transition for the appearing effect */
}

.nav__item:not(.is-active):hover:before {
    transform: scale(1);
}

.nav__item.is-active:before {
    background-color: var(--color__success--primary);
    transform: scale(1);
}

.nav__item:not(.is-active):hover {
    color: var(--color__light--primary);
}

@media screen and (max-width: 896px) {
    .nav {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 30px;
    }
}

@media screen and (max-width: 540px) {
    .nav__text {
        display: none;
    }
}
