.nav {
    display: none;
    position: relative;
    overflow: hidden;
    height: 10%;
    max-width: 100%;
}

.nav__item {
    color: var(--color__light--primary);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    position: relative;
    display: flex; 
    align-items:center; 
    gap: 10px; 
    cursor: pointer;
    width: -webkit-fill-available;
}

.nav__item.is-active {
    color: var(--color__success--primary);
}

.nav__item::before {
    content: "";
    position: absolute;
    width: 100%; /* Start with no underline visible */
    height: 3px; /* Thickness of the underline */
    bottom: -10px; /* Distance of the underline from the text */
    left: 0;
    background-color: var(--color__light--primary); /* Color of the underline */
    transform: scale(0);
    transition: all 0.2s ease; /* Smooth transition for the appearing effect */
}

.nav__item:not(.is-active):hover:before {
    transform: scale(1);
}

.nav__item.is-active:before {
    background-color: var(--color__success--primary);
    transform: scale(1);
}

.nav__item:not(.is-active):hover {
    color: var(--color__light--primary);
}

.nav__item--critical.is-active {
    color: var(--color__danger--primary);
}

.nav__item--critical.is-active:before {
    background-color: var(--color__danger--primary) !important;
}

@media screen and (max-width: 896px) {
    .nav {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 30px;
    }
    .nav__text--side {
        display: none;
    }
    .nav__item {
        width: fit-content;
    }
}

@media screen and (max-width: 540px) {
    .nav__text {
        display: none;
    }
}

[icon-after-text],
[icon-before-text] {
	--badge-offset-x: calc(0px - var(--badge-size) / 3);
	--badge-offset-y: calc(0px - var(--badge-size) / 3);
	--badge-size: 1rem;
	--circle-size: 2rem;
	--dot-offset: 0.5rem;
	--dot-size: 0.5rem;
		
	--b: initial;
	--bgc: #7DE85A;
	--bdrs: 0;
	--c: hsl(195, 100%, 99%);
	--d: inline-flex;
	--fz: 0.625rem;
	--fw: 700;
	--h: auto;
	--l: initial;
	--m: 0.4rem;
	--p: 0;
	--pos: static;
	--r: initial;
	--t: initial;
	--tt: uppercase;
	--w: initial;
	
	position: relative;
}

[icon-after-text]:not([icon-after-text=""])::after {
	content: attr(icon-after-text);
}
[icon-before-text]:not([icon-before-text=""])::before {
	content: attr(icon-before-text);
}

[icon-after-text]:not([icon-after-text=""])::after,
[icon-before-text]:not([icon-before-text=""])::before {
	align-items: center;
	background: var(--bgc);
	border-radius: var(--bdrs);
	bottom: var(--b);
	box-shadow: var(--bxsh);
	box-sizing: border-box;
	color: var(--c);
	display: var(--d);
	font-size: var(--fz);
	font-weight: var(--fw);
	height: var(--h);
	justify-content: center;
	left: var(--l);
	padding: var(--p);
	position: var(--pos);
	right: var(--r);
	text-decoration: none;
	text-transform: var(--tt);
	top: var(--t);
	width: var(--w);
}

/* MODIFIERS */
[icon-after-type*="badge"]::after,
[icon-before-type*="badge"]::before {
	--bdrs: var(--badge-size);
	--bxsh: 0 0 0 2px rgba(255, 255, 255, 0.5);
	--h: var(--badge-size);
	--p: 0;
	--pos: absolute;
	--w: var(--badge-size);
}
[icon-after-type*="circle"],
[icon-before-type*="circle"]{
	align-items: center;
	display: flex;
}
[icon-after-type*="right"]::after,
[icon-before-type*="right"]::before {
	--l: auto;
	--pos: absolute;
	--r: var(--dot-offset);
}
[icon-after-type*="bottom"]::after,
[icon-before-type*="bottom"]::before {
	--b: var(--dot-offset);
	--pos: absolute;
	--t: auto;
}

[icon-after-type*="badge"][icon-after-type*="right"]::after,
[icon-before-type*="badge"][icon-before-type*="right"]::before {
	--m: 0;
	--r: var(--badge-offset-x);
}
[icon-after-type*="badge"][icon-after-type*="bottom"]::after,
[icon-before-type*="badge"][icon-before-type*="bottom"]::before {
	--b: var(--badge-offset-y);
	--m: 0;
}


