    <div class="content">
        <ion-icon id="dislike" name="heart-dislike-circle-outline"></ion-icon>
        <div id="swiper"></div>
        <ion-icon id="like" name="heart-circle-outline"></ion-icon>
    </div> 