{{> components/header/header authState=1}}
<div class="main">
    {{> components/navbar/navbar}}
  <div class="content">
    <div id="swiper"></div>
    <div class="controllers">
      <button id="reject">Не нравится</button>
      <button id="accept">Нравится</button>
      </div>
    </div>
  </div>
</div>