<div class="profile__wrapper">
    <div class="profile__content-wrapper">
        <h1 class="profile__text profile__text--title" id="blockTitle">{{blockTitle}}</h1>
        <div class="profile__block-group" title="{{title1}}">
            {{> components/profile/profileBlock pictures}}
            {{> components/profile/profileBlock interests}}
            {{> components/profile/profileBlock biography}}
        </div>
        <div class="profile__block-group" title="{{title2}}">
            {{> components/profile/profileBlock security}}
        </div>
    </div>
    {{> components/profile/profileNavbar navbar}}
</div>