<div class="profile__picture-container {{classes}}">
    {{#if pictureURL}}
        <img class="profile__picture" src="{{pictureURL}}"/>
        {{> components/form/formButton actionButton}}
    {{else}}
        {{> components/form/formButton actionButton}}
    {{/if}}
</div>