<div class="profile__navbar-wrapper">
    <div class="profile__navbar-content">
        {{#each linkButtons}}
            {{> components/form/formButton this}}
        {{/each}}
        {{> components/form/formButton actionButton}}
    </div>
</div>