<div class="profile__settings--row">
    <img class="profile__icon" src='data:image/svg+xml,{{iconSource}}'>
    <div class="profile__settings--column">
        <p class="profile__text">{{labelText}}</p>
        <p class="profile__text">{{valueText}}</p>
    </div>
    {{> components/form/formButton actionButton}}
    {{> components/form/dialog settingDialog}}
</div>