@import url(/src/fonts/MailSans/stylesheet.css);

* {
    font-family: 'Mail Sans Roman';
}

:root {
    --form--background: rgba(0, 0, 0, 0.5);

    --form__text--primary: #FFFFFF;
    --form__text--secondary: #BBBBBB;
    --form__text--input: #000000;
    --form__text--error: red;

    --form__button--primary: #7DE85A;
    --form__button--hover: #2DB200;

    --focused: #363636;

    --pswd--hidden: url(eyeInv.png);
    --pswd--visible: url(eyeVis.png);
    
}

.wrapper {
    height: 100dvh;
    width: 100dvw;
    display: grid;
    place-items: center;
}

.form {
    width: 526px;
    height: auto;

    border-radius: 10px;
    
    background: var(--form--background);
    color: var(--form__text--primary);

    display: grid;
    position: relative;
}

.form__error {
    background: var(--form--background);
    color: var(--form__text--error);
    display: none;
    text-align: center;
    width: 100%;
    height: auto;
    border-radius: 10px;
    position: absolute;
    bottom: -100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form__block {
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 30px;
    padding-bottom: 40px;
}

.form__block--medium {
    height: 460px;
}

.form__header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 30px;
    left: 0;
    padding-left: 30px;
    padding-right: 30px;
    overflow: hidden;
    height: 18px;
}

.form__title {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;
    text-align: center;
}

.form__info {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 30px;
    color: var(--form__text--secondary);
}

.form__link {
    color: var(--form__text--secondary);
}

.form__input-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.form__field-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
}

.form__field {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
    position: relative;
}

.field__error {
    position: absolute;
    color: red;
    width: 100%;
    text-align: center;
    bottom: -22px;
}

.form__input {
    width: 100%;
    height: 47px;
    border-radius: 83px;
    border: none;
    padding-left: 30px;
}

.form__input--icon {
    padding-right: 60px;
}

.form__label {
    display: inline-block;
    margin-left: 13px;
    margin-bottom: 13px;
    font-weight: 800;
}

.form__checkbox-container {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
}

.form__checkbox-container--side {
    padding-left: 40px;
}

.form__checkbox-list {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: flex-start;
    align-items: start; */
    width: 100%;
    height: 100%;
}

.form__checkbox-list--cut {
    margin-bottom: -10px;
}

.form__button-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    height: 47px;
    position: relative;
}

.form__input:focus {
    outline: none;
    box-shadow: inset 0 0 0 2px var(--focused);
}

.form__step-count {
    font-size: 18px;
    font-weight: 600;
    color: var(--form__text--secondary);
}

.form__button {
    background: none;
    border: none;
    display: block;
    place-self: center;
    cursor: pointer;
}

.form__button--continue {
    color: var(--form__text--input);
    background-color: var(--form__button--primary);
    width: 100%;
    height: 47px;
    border-radius: 83px;
    font-size: large;
    font-weight: 700;
}

.form__button--nav {
    background: url(./arrow.png) no-repeat center center;
    width: 20px;
    height: 18px;
}

.form__button--checkbox {
    background-color: var(--form__text--primary);
    border-radius: 10px;
    margin-right: 14px;
    margin-bottom: 13px;
    padding: 8px 13px;
    text-align: center;
    transition: background-color 0.25s ease-in-out;
}

.form__button--checkbox-selected {
    background-color: var(--form__button--primary);
}

.form__button--round {
    border-radius: 50%;
    height: 47px;
    width: 47px;
    padding: 0;
    margin: 0;
    margin-left: 13px;
}

.form__button--icon {
    position: absolute;
    width: 24px;
    height: 24px;
    background: var(--pswd--hidden);
    bottom: 11.5px;
    right: 30px;
    opacity: 0.5;
}

.form__button-container--fixed-medium {
    position: absolute;
    bottom: 40px;
    padding-left: 90px;
    padding-right: 90px;
    margin-left: -90px;
}

.form__footer {
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
    color: var(--form__text--secondary);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

@media only screen and (max-width: 896px) {
    .form {
        width: 100dvw;
        height: 100dvh;
        border-radius: 0;
    }

    .form__input-container {
        width: 325px;
    }

    .form__button--continue{
        width: 325px;
    }
    .form__block {
        padding-left: 20px;
        padding-right: 20px;
    }
    .form__title {
        margin-top: 30px;
    }
    .form__button-container--fixed-medium {
        margin-left: -20px;
        padding-left: 20px;
        padding-right: 20px;
        top: 430px;
    }
    .form__block--medium {
        height: 100dvh;
    }
    .form__error {
        background: none;
        top: 550px;
        bottom: 100px;
    }
}