@import url(/src/assets/fonts/MailSans/stylesheet.css);

* {
    font-family: 'Mail Sans Roman';
}

:root {
    --form--background: rgba(0, 0, 0, 0.5);

    --form__text--primary: #FFFFFF;
    --form__text--secondary: #BBBBBB;
    --form__text--input: #000000;
    --form__text--error: #EA5B5B;

    --form__button--primary: #7DE85A;
    --form__button--hover: #1ED760;
    --form__button--active: #169C46;
    --form__button--focus: black;
    --form__button--create-svg: url("data:image/svg+xml,%3Csvg%20width%3D%22104%22%20height%3D%22103%22%20viewBox%3D%220%200%20104%20103%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Crect%20x%3D%221%22%20y%3D%220.5%22%20width%3D%22102%22%20height%3D%22102%22%20rx%3D%2219.5%22%20stroke%3D%22white%22%2F%3E%0A%3Cpath%20d%3D%22M51.2557%2060.75H52.7443V52.2443H61.25V50.7557H52.7443V42.25H51.2557V50.7557H42.75V52.2443H51.2557V60.75ZM52.0093%2070C49.4514%2070%2047.0461%2069.5146%2044.7936%2068.5439C42.541%2067.5731%2040.5816%2066.2556%2038.9153%2064.5915C37.2491%2062.9273%2035.93%2060.9703%2034.958%2058.7206C33.986%2056.4709%2033.5%2054.0671%2033.5%2051.5093C33.5%2048.9514%2033.9854%2046.5461%2034.9561%2044.2936C35.9269%2042.041%2037.2444%2040.0816%2038.9085%2038.4154C40.5727%2036.7491%2042.5297%2035.43%2044.7794%2034.458C47.0291%2033.486%2049.4329%2033%2051.9907%2033C54.5486%2033%2056.9539%2033.4854%2059.2064%2034.4561C61.459%2035.4269%2063.4184%2036.7444%2065.0846%2038.4085C66.7509%2040.0727%2068.07%2042.0297%2069.042%2044.2794C70.014%2046.5291%2070.5%2048.9329%2070.5%2051.4907C70.5%2054.0486%2070.0146%2056.4539%2069.0439%2058.7064C68.0731%2060.959%2066.7556%2062.9184%2065.0915%2064.5847C63.4273%2066.2509%2061.4703%2067.57%2059.2206%2068.542C56.9709%2069.514%2054.5671%2070%2052.0093%2070ZM52%2068.5115C56.749%2068.5115%2060.7716%2066.8635%2064.0675%2063.5675C67.3635%2060.2716%2069.0115%2056.249%2069.0115%2051.5C69.0115%2046.751%2067.3635%2042.7284%2064.0675%2039.4325C60.7716%2036.1365%2056.749%2034.4885%2052%2034.4885C47.251%2034.4885%2043.2284%2036.1365%2039.9325%2039.4325C36.6365%2042.7284%2034.9885%2046.751%2034.9885%2051.5C34.9885%2056.249%2036.6365%2060.2716%2039.9325%2063.5675C43.2284%2066.8635%2047.251%2068.5115%2052%2068.5115Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E%0A");
    --form__button--remove-svg: url("data:image/svg+xml,%3Csvg%20width%3D%2219%22%20height%3D%2218%22%20viewBox%3D%220%200%2019%2018%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M2.3%2018L0.5%2016.2L7.7%209L0.5%201.8L2.3%200L9.5%207.2L16.7%200L18.5%201.8L11.3%209L18.5%2016.2L16.7%2018L9.5%2010.8L2.3%2018Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E");
    

    --form__input--active: ;
    --form__input--focus: ;
    --form__input--bgr: rgb(217, 217, 217);
    --form__input--hover: white;

    --focused: #363636;

    --pswd--hidden: url(eyeInv.webp);
    --pswd--visible: url(eyeVis.webp);

    --form__item--opacity: all 0.2s ease-in-out;
    --form__item--background-image: all 0.2s ease-in-out;
    --form__item--background-color: all 0.2s ease-in-out;
    --form__item--outline: #169C46;
    
}

.wrapper {
    height: 100dvh;
    width: 100dvw;
    display: grid;
    place-items: center;
}

.form {
    width: 526px;
    height: auto;

    border-radius: 20px;
    
    background: var(--form--background);
    color: var(--form__text--primary);
    position: relative;
}

.form__error {
    background: var(--form--background);
    color: var(--form__text--error);
    text-align: center;
    width: 100%;
    height: auto;
    border-radius: 10px;
    position: absolute;
    bottom: -100px;
    padding: 10px 10px;
    transition: var(--form__item--opacity);
    font-size: 0.9rem;
}

.form__block {
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;
    display: none;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 30px;
    padding-bottom: 40px;
    transition: var(--form__item--opacity);
}

.form__block--dialog {
    padding-left: 30px;
    padding-right: 30px;
}

.form__block--medium {
    height: 500px;
}

.form__header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 30px;
    left: 0;
    padding-left: 30px;
    padding-right: 30px;
    overflow: hidden;
    height: 18px;
}

.form__title {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 600;
    font-size: xx-large;
}

.form__title--dialog {
    font-weight: 500;
    justify-content: flex-start;
    font-size: xx-large;
}

.form__info {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 30px;
    color: var(--form__text--secondary);
}

.form__info--dialog {
    font-weight: 300;
    font-size: large;
    justify-content: flex-start;
}

.form__link {
    color: var(--form__text--secondary);
    text-decoration: underline !important;
    transition: all 0.2s ease-in-out;
}

.form__link:hover {
    opacity: 0.5;
}

.form__link:focus {
    outline-width: thin;
    outline-color: grey;
    outline-style: solid;
}

.form__input-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 100%;
    /* margin-left: auto;
    margin-right: auto; */
}

.form__field-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
    transition: var(--form__item--opacity);
}

.form__field-container--side {
    width: 100%;
}

.form__field {
    /* margin-left: auto;
    margin-right: auto; */
    width: 100%;
    position: relative;
    margin-bottom: 30px;
    position: relative;
}

.field__error {
    position: absolute;
    color: var(--form__text--error);
    width: 100%;
    text-align: center;
    bottom: -22px;
    transition: var(--form__item--opacity);
}

.form__input {
    background-color: var(--form__input--bgr);
    width: 100%;
    height: 47px;
    border-radius: 83px;
    border: none;
    padding-left: 30px;
    transition: var(--form__item--background-color);
}

.form__input--dialog {
    background-color: #5d5d5d;
}

.form__input--icon {
    padding-right: 60px;
}

.form__label {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 13px;
    font-weight: 800;
}

.form__label--dialog {
    font-weight: 500;
    margin-left: 0;
    margin-bottom: 5px;
}

.form__checkbox-container {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
}

.form__checkbox-container--side {
    padding-left: 40px;
}

.form__checkbox-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
.form__checkbox-list--side {
    justify-content: flex-start;
}

.form__checkbox-list--cut {
    margin-bottom: -10px;
}

.form__checkbox-list--mb {
    margin-bottom: 20px;
} 

.form__button-container {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    height: 47px;
    position: relative;
}

.form__button-container--dialog {
    height: auto;
    justify-content: flex-end;
    margin-top: 0;
}

.form__input:focus {
    outline-style: solid;
    outline-width: medium;
    outline-color: var(--form__button--primary);
    background-color: var(--form__input--hover);
}

.form__input:hover {
    background-color: var(--form__input--hover);
}

.form__input--hidden {
    display: none;
}

.form__step-count {
    font-size: 18px;
    font-weight: 600;
    color: var(--form__text--secondary);
}

.form__button {
    color: var(--form__text--input);
    background: none;
    border: none;
    display: block;
    place-self: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.form__button:focus {
    outline-style: solid;
    outline-width: medium;
    outline-color: var(--form__item--outline);
}


.form__button--continue {
    color: var(--form__text--input);
    background-color: var(--form__button--primary);
    width: 100%;
    height: 47px;
    border-radius: 83px;
    font-size: large;
    font-weight: 700;
    transition: var(--form__item--background-color);
}

.form__button--cancel {
    color: var(--form__text--primary);
    width: 100%;
    height: 47px;
    border-radius: 83px;
    font-size: large;
    font-weight: 700;
    transition: all 0.2s ease-in-out;
}

.form__button--continue:hover {
   background-color: var(--form__button--hover);
}

.form__button--continue:active {
    background-color: var(--form__button--active);
 }

.form__button--nav {
    background: url(./arrow.png) no-repeat center center;
    width: 20px;
    height: 18px;
    transition: var(--form__item--opacity);
}

.form__button--nav:hover {
    opacity: 0.5;
}

.form__button--nav:focus {
    outline: none;
}

.form__button--edit {
    background: url(./edit.webp) no-repeat center center;
    width: 22px;
    aspect-ratio: 1;
    transition: var(--form__item--opacity);
}

.form__button--edit:hover {
    opacity: 0.5;
}

.form__button--edit:focus {
    outline: none;
}

.form__button--checkbox {
    background-color: var(--form__input--bgr);
    border-radius: 20px;
    margin-right: 14px;
    margin-bottom: 13px;
    padding: 8px 13px;
    text-align: center;
    font-weight: 500;
    font-size: medium;
}

.form__button--checkbox:hover {
    background-color: var(--form__button--hover);
}

.form__button--checkbox:focus {
    outline: none;
}

.form__button--checkbox-selected {
    background-color: var(--form__button--primary);
}

.form__button--inactive {
    cursor: default;
    pointer-events: none;
}

.form__button--disabled {
    opacity: 0.3;
}

.form__button--create {
    height: 100%;
    aspect-ratio: 1;
    background: var(--form__button--create-svg) no-repeat center center;
    background-size: cover;
    transition: var(--form__item--opacity);
}

.form__button--create:hover {
    opacity: 0.5;   
}

.form__button--create:focus {
    outline: none;
    filter: invert(36%) sepia(64%) saturate(604%) hue-rotate(86deg) brightness(95%) contrast(87%);
}

.form__button--remove {
    height: 10%;
    position: absolute;
    top: 5%;
    right: 5%;
    aspect-ratio: 1;
    filter: invert(48%) sepia(15%) saturate(5246%) hue-rotate(327deg) brightness(100%) contrast(84%);
    background: var(--form__button--remove-svg) no-repeat center center;
    background-size: cover;
    transition: var(--form__item--opacity);
}

.form__button--remove:hover {
    opacity: 0.5;
}

.form__button--navbar {
    color: var(--form__text--primary);
    font-size: 1.2rem;
    border-radius: 20px;
    padding: 10px 20px;
    transition: var(--form__item--background-color);
}

.form__button--navbar:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.form__button--navbar-selected {
    background-color: var(--form__button--hover);
    color: var(--form__text--input);
}

.form__button--navbar-selected:hover {
    background-color: var(--form__button--active);
}

.form__button--logout {
    background-color: rgba(0, 0, 0, 0.5);
}

.form__button--logout:hover {
    background-color: #EA5B5B;
}

.form__button--round {
    border-radius: 50%;
    height: 47px;
    width: 47px;
    padding: 0;
    margin: 0;
    margin-left: 13px;
}

.form__button--round:nth-child(1) {
    margin-left: 0;
}

.form__button--icon {
    position: absolute;
    width: 24px;
    aspect-ratio: 1;
    background: var(--pswd--hidden);
    bottom: 11.5px;
    right: 30px;
    opacity: 0.5;
    transition: var(--form__item--background-image);
}
.eye {
    position: absolute;
    width: 24px;
    aspect-ratio: 1;
    bottom: 11.5px;
    right: 30px;
    opacity: 0.5;
    transition: var(--form__item--background-image);
}

.eye:focus {
    outline: none;
}

.eye--inv {
    background: var(--pswd--hidden);
}

.eye--vis {
    background: var(--pswd--visible);
}

.form__button--icon-dialog {
    filter: grayscale(100%);
    filter: invert(100%);
}

.form__input--dialog:hover ~ .form__button--icon-dialog {
    filter: invert(0%);
}

.form__input--dialog:focus ~ .form__button--icon-dialog {
    filter: invert(0%);
}

.form__button--icon:focus {
    outline: none;
}

.form__button-container--fixed-medium {
    position: absolute;
    bottom: 40px;
    padding-left: 90px;
    padding-right: 90px;
    margin-left: -90px;
}

.form__footer {
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
    color: var(--form__text--secondary);
}

input[type="date"] {
  padding-right: 20px;
}

.form__dialog {
    background-color: #000000;
    width: 385px;
}

.form__button--dialog {
    width: auto;
    font-weight: 500;
    padding: 10px 20px;
    transition: var(--form__item--opacity);
}

.form__button--cancel:hover {
    opacity: 0.5;
}

.form__textarea {
    width: 100%;
    resize: none;
    height: 200px;
    border-radius: 20px;
    padding: 10px 20px;
    color: var(--form__text--primary);
    transition: var(--form__item--opacity);
}

.form__textarea--dialog {
    background-color: #5d5d5d;
}

.form__textarea:focus {
    color: var(--form__text--input);
    outline-style: solid;
    outline-width: medium;
    outline-color: var(--form__button--primary);
    background-color: var(--form__input--hover);
}

.form__textarea:hover {
    color: var(--form__text--input);
    background-color: var(--form__input--hover);
}

@media only screen and (max-width: 896px) {
    .form {
        width: 100dvw;
        height: 100dvh;
        border-radius: 0;
        overflow: auto;
    }

    .form__dialog {
        width: 100%;
        border-radius: 20px;
        height: auto;
    }

    .button__span--navbar {
        display: none;
    }

    .form__title--dialog {
        margin-top: 0 !important;
    }

    .form__button--navbar {
        font-size: small;
    }

    .form__button--continue{
        min-width: 325px;
        max-width: 325px;
    }

    .form__button--dialog {
        min-width: 50%;
        max-width: 50%;
    }

    .form__field-container {
        min-width: 325px;
        max-width: 325px;
    }

    .form__field-container--dialog {
        min-width: 100% !important;
        max-width: 100% !important;
    }

    .form__input-container {
        flex-direction: column;
        align-items: center;
    }

    .form__checkbox-container {
        width: auto;
    }

    .form__checkbox-container--side {
        max-width: 325px;
        min-width: 325px;
        padding: 0;
    }

    .form__checkbox-list--side {
        justify-content: flex-start;
    }

    .form__block {
        padding-left: 20px;
        padding-right: 20px;
    }
    .form__title {
        margin-top: 30px;
    }
    .form__button-container--fixed-medium {
        margin-left: -20px;
        padding-left: 20px;
        padding-right: 20px;
        top: 480px;
    }
    .form__button-container--dialog {
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .form__block--medium {
        height: 100dvh;
    }
    .form__error {
        background: none;
        top: 550px;
        bottom: 100px;
    }
}

@media only screen and (max-width: 370px) {
    .form__button--continue{
        min-width: 220px;
        max-width: 220px;
    }
    .form__error {
        top: 620px;
    }

    .form__field-container {
        min-width: 220px;
        max-width: 220px;
        flex-flow: column;
        /* justify-content: flex-start; */
    }

    .form__checkbox-container--side {
        max-width: 220px;
        min-width: 220px;
    }

    .form__button-container--fixed-medium {
        margin-left: -20px;
        padding-left: 20px;
        padding-right: 20px;
        top: 550px;
    }
    .form__button--dialog {
        min-width: 50%;
        max-width: 50%;
    }

    .button__span {
        font-size: small;
    }
}

.form__paragraph--error {
    transition: var(--form__item--opacity);
}

.any--hidden {
    opacity: 0 !important;
}

.any--none {
    display: none;
}