.matches {
    padding: 10px;
}

.matches__header {
    font-size: x-large;
    text-align: center;
    color: white;
}

#matches__content {
    display: grid;
    gap: 10px;
    padding: 20px;
}

.matches__empty {
    text-align: center;
    color: white;
    justify-self: center;
    font-size: 6vw;
}