{{> components/header/header authState=1}}
<div class="matches">
    <h1 class="matches__header">Ваши мэтчи</h1>
    <iframe src="https://www.mdpv.ru/dom-prestarelih-v-moscow" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    <div id="matches__content">
        {{#each matches}}
            {{> pages/matches/components/card}}
        {{/each}}
    </div>
</div>