.navbar {
    background: rgba(255, 255, 255, 0.23);
    border-radius: 20px;
    height: 100%;
    max-width: 29%;
    width: -webkit-fill-available;
}

.navbar__header {
    background: #0b0c0c;
    border-radius: 20px 20px 0px 0px;
    padding: 20px 22px;
    gap: 15px;
}

.navbar__header__person {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
    width: 100%;
}

.navbar__header__person__name {
    font-size: x-large;
    word-wrap: break-word;
    text-wrap: balance;
    font-weight: 600;
    text-align: left;
    color: var(--color__light--primary);
    max-width: 50%;
}

.navbar__header__person__image {
    width: 70px;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
}

.navbar__menu {
    max-height: 80%;
    padding: 5px 22px;
}

.navbar__menu__search {
    height: 34px;
    padding: 1px 5px;
    border-radius: 10px;
    background: inherit;
    display: flex;
    align-items: center;
    border: 1px solid #dcdcdc;
}

.navbar__menu__search__input {
    background: inherit;
    border: none;
    border-radius: 10px;
    padding: 2px 0 0 5px;
    width: 100%;
    height: 100%;
    text-align: justify;
    color: white;
    outline: none;
}

.navbar__menu__search__input::placeholder {
    color: #dcdcdc;
}

.navbar__menu__items {
    gap: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: 91%;
    scrollbar-width: none;
    overflow: scroll;
}

.navbar__menu__item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 10px;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    cursor: pointer;
    border-radius: 10px;
    color: white;
}

.navbar__menu__item--active {
    background: rgba(125, 232, 90, 1);
    color: #0b0c0c;
}

.navbar__item__icon {
    width: 45px;
    height: 45px;
    border-radius: 100px;
}

.navbar__item__info {
    letter-spacing: 0em;
    text-align: left;
}

.navbar__item__info__name {
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
}

.navbar__item__info__message {
    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
}

.navbar_item_notification {
    background: #ff0000;
    color: white;
    border-radius: 100px;
    padding: 7px 7px;
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
}

.navbar__item__info__time {
    font-size: 12px;
    font-weight: 300;
    line-height: 12px;
}

.navbar__menu__divider {
    background: #5d5d5d;
    border: 1px solid #5d5d5d;
    margin: 1px 0;
}

@media screen and (max-width: 896px) {
    .navbar {
        display: none;
    }
}
