<div class="items-wrap">
    <div class="items marquee">
        <div class="item">
            <h1>бегом</h1>
        </div>
        <div class="item">
            <h1>бегом</h1>
        </div>
        <div class="item">
            <h1>бегом</h1>
        </div>
        <div class="item">
            <h1>бегом</h1>
        </div>
        <div class="item">
            <h1>бегом</h1>
        </div>
        <div class="item">
            <h1>бегом</h1>
        </div>
        <div class="item">
            <h1>бегом</h1>
        </div>
        <div class="item">
            <h1>бегом</h1>
        </div>
        <div class="item">
            <h1>бегом</h1>
        </div>
        <div class="item">
            <h1>бегом</h1>
        </div>
    </div>
    <div aria-hidden="true" class="items marquee">
        <div class="item">
            <h1>бегом</h1>
        </div>
        <div class="item">
            <h1>бегом</h1>
        </div>
        <div class="item">
            <h1>бегом</h1>
        </div>
        <div class="item">
            <h1>бегом</h1>
        </div>
        <div class="item">
            <h1>бегом</h1>
        </div>
        <div class="item">
            <h1>бегом</h1>
        </div>
        <div class="item">
            <h1>бегом</h1>
        </div>
        <div class="item">
            <h1>бегом</h1>
        </div>
        <div class="item">
            <h1>бегом</h1>
        </div>
        <div class="item">
            <h1>бегом</h1>
        </div>
    </div>
</div>