.card {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 13px;
  overflow: hidden;
  transform: translateZ(calc(-1px * var(--i)));
  /* filter: drop-shadow(2px 2px 20px rgba(0, 0, 0, 0.5)); */
  cursor: pointer;
  user-select: none;
  transition: transform 0.5s;
  background: white;
  perspective: 1000px;
}

.card__front, .card__back {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}

.card__front {
  background-color: white;
}

.card__back {
  background-color: darkgray;
  transform: rotateY(180deg);
}

.card:hover .card__front {
  transform: rotateY(180deg);
}

.card:hover .card__back {
  transform: rotateY(360deg);
}

.card__image {
  width: 364px;
  height: 571px;
  border-radius: 13px;
  object-fit: cover;
  object-position: 50% 50%;
}
.card__content {
  height: 86px;
  padding: 20px, 0px, 20px, 20px;
  gap: 7px;
  color: black;
  font-size: 2.5vh;
  font-weight: 700;
  transition: transform 0.5s;
  padding: 0 6px;
}

.card__name {
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  transition: transform 0.5s;
}

.card__description {
  font-size: 15px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  transition: transform 0.5s;
  overflow: hidden; /* Обрезать текст, который выходит за пределы */
  text-overflow: ellipsis; /* Добавить многоточие (...) для обрезанного текста */
}

.card__interests {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 0 6px;
  transition: transform 0.5s;
}

.card__interest {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  padding: 5px 10px;
  border-radius: 13px;
  background-color: #f2f2f2;
  color: #000;
  transition: transform 0.5s;
}

#like,
#dislike {
  font-size: 6vh;
  border-radius: 50%;
  padding: 20px;
  position: relative;
  z-index: 1;
  animation-name: animation1;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-play-state: paused;
}

#like.trigger,
#dislike.trigger {
  animation-name: animation2;
}

#like {
  color: red;
  background-color: rgba(255, 255, 255, 0.5);
}

#dislike {
  color: #ccc;
  background-color: rgba(0, 0, 0, 0.5);
}

@keyframes animation1 {
  0%,
  100% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }
}

@keyframes animation2 {
  0%,
  100% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }
}
