.card {
  width: 100%;
  display: flex;
  height: 100%;
  position: absolute;
  border-radius: 20px;
  overflow: hidden;
  transform: translateZ(calc(-1px * var(--i)));
  /* filter: drop-shadow(2px 2px 20px rgba(0, 0, 0, 0.5)); */
  cursor: pointer;
  user-select: none;
  transition: transform 0.5s;
  background: #DCD8D8;
  perspective: 1000px;
  gap: 60px;
}

.card__front,
.card__back {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  transition: 1s;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  color: white;
}

.card__front {
  background-color: black;
  border-radius: 20px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.card__back {
  background-color: inherit;
}

.card__back-header {
  font-size: medium;
  margin-bottom: 5px;
}

.card__back-content {
  height: 100%;
  width: 100%;
}

.card__image {
  width: 100%;
  height: 571px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.4) 70%,
      rgba(0, 0, 0, 1) 100%
    );
  }
}

.card__image-content {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.card__content {
  height: 86px;
  padding: 20px, 0px, 20px, 20px;
  gap: 7px;
  color: white;
  font-size: 2.5vh;
  font-weight: 700;
  transition: transform 0.5s;
  padding: 0 6px;
  background: #000;
}

.card__name {
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  transition: transform 0.5s;
}

.card__description {
  font-size: 15px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  transition: transform 0.5s;
  overflow: hidden; /* Обрезать текст, который выходит за пределы */
  text-overflow: ellipsis; /* Добавить многоточие (...) для обрезанного текста */
}

.card__interests {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 0 6px;
  transition: transform 0.5s;
}

.card__interest {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  padding: 5px 10px;
  border-radius: 13px;
  background-color: #f2f2f2;
  color: #000;
  transition: transform 0.5s;
}

#accept,
#reject {
  /* font-size: 6vh;
  border-radius: 50%;
  padding: 20px;
  position: relative;
  z-index: 1; */
  animation-name: before_anim;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-play-state: paused;
}

#accept.trigger,
#reject.trigger {
  animation-name: after_anim;
}

#like {
  color: red;
  background-color: rgba(255, 255, 255, 0.5);
}

#dislike {
  color: #ccc;
  background-color: rgba(0, 0, 0, 0.5);
}

@keyframes before_anim {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

@keyframes after_anim {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}
