#swiper {
    height: 70vh;
    aspect-ratio: 2/3;
    perspective: 1000px;
    perspective-origin: center 50%;
    transform-style: perserve-3d;
    position: relative;
}

.card{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 20px;
    overflow: hidden;
    transform: translateZ(calc(-30px * var(--i))) translateY(calc(-20px * var(--i))) rotate(calc(-4deg * var(--i)));
    filter: drop-shadow(2px 2px 20px rgba(0,0,0, 0.5));
    cursor: pointer;
    use-select: none;
}

.card__image {
    width: 100%;
    height: 100;
    object-fit: cover;
    object-position: 50% 50%;
}