  <div class="header">
    <div class="header__logo">
    </div>
    {{!-- <div class="header__menu">
      <a href="/" class="header__menu-link">Главная</a>
      <a href="/login" class="header__menu-link">Логин</a>
      <a href="/register" class="header__menu-link">Регистрация</a>
      <a href="/main" class="header__menu-link">Главная</a>
    </div> --}}
      <button id="header-button" >Войти</button>
  </div>  