  <div class="header">
    <div class="header__logo">
    </div>
      <button {{#if authState}}data-action="logout" {{/if}}{{#if notAuthState}}data-link data-url="/login" {{/if}}type="button" id="header__button{{#if authState}}--logout{{/if}}">{{#if authState}}Выйти{{/if}}{{#if notAuthState}}Войти{{/if}}</button>
  </div>