  <div class="header">
    <div class="header__logo">
    </div>
    <div class="header__menu">
      {{#if authState}}
      <button data-link data-url="/main" type="button" class="header__menu-button">Главная</button>
      <button data-link data-url="/matches" type="button" class="header__menu-button">Мэтчи</button>
      <button data-link data-url="/profile" type="button" class="header__menu-button">Профиль</button>
      <button data-action="logout" type="button" class="header__menu-button">Выйти</button>
      {{else}}
        <button data-link data-url="/login" type="button" class="header__menu-button">Войти</button>
      {{/if}}
    </div>
  </div>