  <div class="header">
    <div class="header__logo">
    </div>
      {{#if authState}}
        <button data-action="logout" type="button" id="header__button--logout">Выйти</button>
      {{else}}
        <button data-link data-url="/login" type="button" id="header__button">Войти</button>
      {{/if}}
  </div>