.header {
    display: flex;
    padding: 20px;
    align-items: end;
    justify-content: end;
}

.header__menu {
    display: flex;
    gap: 5px;
}

.header__menu-link {
    padding: 5px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 34px;
}

#header-button {
    width: 283px;
    height: 84px;
    border-radius: 83px;
    gap: 10px;
    background: #7DE85A;
    font-size: 28px;
    font-weight: 800;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
}

@media screen and (max-width: 1440px) {

    #header-button {
        width: 240px;
        height: 67px;
        font-size: 24px;
    }
}

@media screen and (max-width: 1024px) {

    #header-button {
        width: 200px;
        height: 55px;
        font-size: 20px;
    }

}

@media screen and (max-width: 768px) {
    #header-button {
        width: 160px;
        height: 50px;
        font-size: 18px;
    }

}

@media screen and (max-width: 425px) {

    #header-button {
        width: 100px;
        height: 40px;
        font-size: 10px;
    }

}

@media screen and (max-width: 320px) {

    #header-button {
        width: 100px;
        height: 40px;
        font-size: 10px;
    }

}