.header {
    display: flex;
}

.header__menu {
    display: flex;
    gap: 5px;
}

.header__menu-link {
    padding: 5px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 34px;
}

.header__button {
    width: 175px;
    height: 65px;
    border-radius: 83px;
    gap: 10px;
    background: #7DE85A;
    font-size: 28px;
    font-weight: 800;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
}