.header {
    display: flex;
}

.header__menu {
    display: flex;
    gap: 5px;
}

.header__menu-link {
    padding: 5px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 34px;
}