<div class="navbar__item">
    <img src="https://via.placeholder.com/50" alt="Icon" class="navbar__item__icon">
    <div class="navbar__item__info">
        <p class="navbar__item__info__name">
            Женя Королева
        </p>
        <p class="navbar__item__info__message">
            Привет, как дела?
        </p>
    </div>
</div>