<div class="navbar__item">
    <img src="https://source.unsplash.com/random/50x50/?woman" alt="Icon" class="navbar__item__icon">
    <div class="navbar__item__info">
        <p class="navbar__item__info__name">
            Женя Королева
        </p>
        <p class="navbar__item__info__message">
            Привет, как дела?
        </p>
    </div>
</div>