<div class="wrapper">
    <div class="text--404">
        <h1>404</h1>
        <p>Такой страницы нет 😔</p>
        <a class="link--404" data-link href="/">Вернуться на главную</a>
        <a class="link--404" data-action="back" href="#">Вернуться назад</a>
    </div>
</div>