<div class="wrapper">
    <div class="unavailable__container">
        <p class="unavailable__title">{{errorCode}}</p>
        <p class="unavailable__text">{{errorMsg}}</p>
        <a class="unavailable__link" data-link href="/">Вернуться на главную</a>
    </div>
</div>