<div class="csat">
    <button class="button button--cross csat__closer"></button>
    <div class="csat__title">Оцените {{feature}}</div>
    <div class="csat__ratings">
        <button class="button button--xxl" id="1">😡</button>
        <button class="button button--xxl" id="2">🙁</button>
        <button class="button button--xxl" id="3">😐</button>
        <button class="button button--xxl" id="4">🙂</button>
        <button class="button button--xxl" id="5">🤩</button>
    </div>
    <div class="csat__footer">
        <p>{{scaleBad}}Отвратительно</p>
        <p>{{scaleGood}}Отлично</p>
    </div>
</div>