.csat {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color__light--primary);
    padding: 10px 20px;
}
.csat__ratings {
    display: flex;
    gap: 10px;
    width: auto;
}

.csat__footer {
    display: flex;
    gap: 300px;
    justify-content: space-between;
}

.csat__title {
    font-size: x-large;
}

.csat__closer {
    position: absolute;
    top: 10px;
    left: 10px;
}

.iframe__csat {
    height: auto;
    position: absolute;
    top: 50px;
    left: calc(50% - 300px);
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 0 100000px rgba(0,0,0,.5);
}