.match__card {
    grid-column: span 2;
    aspect-ratio: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: var(--color__dark--primary);
    border-radius: 10%;
    padding: 3px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-bottom: 100%;
}

.match__search {
    padding: 0 20px;
}

.match__preview-photo {
    background: var(--color__light--secondary);
    border-radius: 10%;
    object-fit: cover;
    height: 100%;
    aspect-ratio: 1;
    object-position: top;
    transition: all 0.2s ease-in-out;
}

.match__container {
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding: 30px;
    overflow-anchor: none;
}

.match__container > :last-child {
    margin-bottom: 0;
}

.match__wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}

.match__header {
    color: var(--color__light--primary);
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-weight: 500;
}

.match__placeholder {
    color: var(--color__light--primary);
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-weight: 500;
    height: 100%;
    width: 100%;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

.match__data {
    position: absolute;
    bottom: 0;
    padding: 15px 30px;
    width: 100%;
    border-radius: 0 0 20% 20%;
    background-color: rgba(0, 0, 0);
    transition: all 0.2s ease-in-out;
    transform: translateX(-100%);
}

.data__text {
    color: var(--color__light--primary);
    float: left;
}

.match__card:hover > .match__data {
    transform: translateX(0);
}

.match__card:hover > .match__preview-photo {
    transform: scale(0.98);
}

@media only screen and (max-width: 896px){
    .match__container {
        padding: 20px;
    }
}

@media only screen and (max-width: 600px){
    .match__container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (max-width: 400px){
    .match__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

[match-after-text],
[match-before-text] {
	--badge-offset-x: calc(0px - var(--badge-size) / 3);
	--badge-offset-y: calc(0px - var(--badge-size) / 3);
	--badge-size: 1.6rem;
	--circle-size: 2rem;
	--dot-offset: 0.5rem;
	--dot-size: 0.5rem;
		
	--b: initial;
	--bgc: #57cb30;
	--bdrs: 0;
	--c: hsl(195, 100%, 99%);
	--d: inline-flex;
	--fz: 1rem;
	--fw: 800;
	--h: auto;
	--l: initial;
	--m: 0.4rem;
	--p: 0;
	--pos: static;
	--r: initial;
	--t: initial;
	--tt: uppercase;
	--w: initial;
	
	position: relative;
}

[match-after-text]:not([match-after-text=""])::after {
	content: attr(match-after-text);
}
[match-before-text]:not([match-before-text=""])::before {
	content: attr(match-before-text);
}

[match-after-text]:not([match-after-text=""])::after,
[match-before-text]:not([match-before-text=""])::before {
	align-items: center;
	background: var(--bgc);
	border-radius: 0.25rem;
	bottom: var(--b);
	box-shadow: var(--bxsh);
	box-sizing: border-box;
	color: var(--c);
	display: var(--d);
	font-size: var(--fz);
	font-weight: var(--fw);
	height: var(--h);
	justify-content: center;
	left: 0.1rem;
	padding: 0.05rem 0.4rem;
	position: absolute;
	right: var(--r);
	text-decoration: none;
	text-transform: var(--tt);
	top: 1rem;
	width: var(--w);
}